a {color: white}
a:link {color: white}
a:visited {color: white}
a:active {color: white}



.text_main_pg {
	color: black;
	height: 55px;
	width: 80%;
	overflow: hidden;
	}

.context {
	color: black;
	font: arial;
	text-indent: 20px;
	}

.coding {
	text-indent: 20px;
	white-space: pre;
	border-style: solid;
	border-width: 1px 1px 1px 10px;
	border-color: #d9d9d9;
	background: #c1d4c4;
	height: 100px;
	min-width: 600px;
	max-width: 100%;
    	width: 900px;
	}

.fon {  
	width: 90%;
        height: 90%;
        text-align: center;
        padding: 15px;
        
        display: none;
	background-color: yellow;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
		
	}
.win { 
	width: 1;
	height: 1;
	position: fixed;
        top: 15%;
	left: 14%;
	z-index: 200;
	}



.fon:target {display: block;}

.close {
	z-index: 0;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 95%;
	height: 95%;
	background: rgba(102, 102, 102, 0.5);
	}