{% extends "learn_dj/templates/base.html" %}

{% block context %}
{% load static from staticfiles %}

	{% block text_01 %}
		{% block title_block_01 %}
			<div  width="1000px" height="20px">
			    <h1 style="overflow: hidden; background-image: url({% static 'learn_dj/static/image/w9kRtO.jpg' %}); color: white; text-indent: 20px;">
			        {{ title_block_01 }}
				</h1>
			</div>
		{% endblock %}
		
				<br>
				<br>
				{% include "learn_dj/templates/table.html" %}
		{% block txtbl_01 %}
			<div style="margin-left: 10px">	
				{% for e in html %}
					<h2 align="center">
						{{ e.sub_title }}
					</h2>
					<div stile="float : left">
						<a href="#{{ e.image }}">
							<img src="{% static e.image %}" height="200px" align="left" hspace="15" alt="img">
						</a>
						
							<div id="{{ e.image }}" class="fon">
								<a href="#close" class="close"></a>
								<div class="win">
								<img src="{% static e.image %}" height="600px" align="left" alt="img">
								</div>
							</div>
					</div>
					
						<p class="context">
							{{ e.text }}
							<br>
							<br>
							{{ e.text_1 }}
							<br>
							<br>
							{{ e.text_2 }}
							<br>
							<br>
							{{ e.text_3 }}
							<br>
															
		                		</p>
					{% include "learn_dj/templates/horisont_line.html" %}
					
			{% endfor %}	
			</div>
       {% endblock %}
	{% endblock %}	

    {% include "learn_dj/templates/horisont_line.html" %}

{% endblock %}
