{% extends "learn_dj/templates/base.html" %}

{% block context %}
{% load static from staticfiles %}

	{% block text_01 %}
		{% block title_block_01 %}
			<div  style="width: 1030px; height: 20px; position: sticky;	top: 48px;">
			    <h1 style="overflow: hidden; background-image: url({% static 'learn_dj/static/image/w9kRtO.jpg' %}); color: white; text-indent: 20px;">
			        {{ title_block_01 }}
				</h1>
			</div>
		{% endblock %}
		
		{% block txtbl_01 %}
			<div style="margin-left: 10px">	
				{% for e in html %}
					<h2 align="center">
						{{ e.sub_title }}
					</h2>
					
					<div>
						<a href="#{{ e.image }}">
							<img src="{% static e.image %}" width="250" height="200px" align="left" hspace="15" alt="img">
						</a>
							<div id="{{ e.image }}" class="fon">
								<a href="#close" class="close"></a>
								<div class="win">
								<img src="{% static e.image %}" height="600px" align="left" alt="img">
								</div>
							</div>
						{% if e.image_2 %}
						<a href="#{{ e.image_2 }}">
							<img src="{% static e.image_2 %}" width="250" height="200px" align="left" hspace="15" alt="img">
						</a>
							<div id="{{ e.image_2 }}" class="fon">
								<a href="#close" class="close"></a>
								<div class="win">
								<img src="{% static e.image_2 %}" height="600px" align="left" alt="img">
								</div>
							</div>
						{% endif %}
						{% if e.image_3 %}
						<a href="#{{ e.image_3 }}">
							<img src="{% static e.image_3 %}" width="250" height="200px" align="left" hspace="15" alt="img">
						</a>
							<div id="{{ e.image_3 }}" class="fon">
								<a href="#close" class="close"></a>
								<div class="win">
								<img src="{% static e.image_3 %}" height="600px" align="left" alt="img">
								</div>
							</div>
						{% endif %}						
					</div>

						{% include "learn_dj/templates/horisont_line.html" %}
					
						<p class="context">
							{% if e.text %}
								{{ e.text }}
								<br>
								<br>
							{% endif %}
														
							{% if e.text_1 %}
								{{ e.text_1 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_2 %}
								{{ e.text_2 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_3 %}
								{{ e.text_3 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_4 %}
								{{ e.text_4 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_5 %}
								{{ e.text_5 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_6 %}
								{{ e.text_6 }}
								<br>
								<br>
							{% endif %}
															
		                		</p>
					{% include "learn_dj/templates/horisont_line.html" %}
				{% endfor %}	
			</div>
       {% endblock %}
	
	{% endblock %}
    {% include "learn_dj/templates/horisont_line.html" %}

{% endblock %}
