{% extends "learn_dj/templates/base.html" %}

{% block context %}
{% load static from staticfiles %}

	{% block text_01 %}
		{% block title_block_01 %}
			<div  style="width: 1030px; height: 20px; position: sticky;	top: 48px;">
			    <h1 style="overflow: hidden; background-image: url({% static 'learn_dj/static/image/w9kRtO.jpg' %}); color: white; text-indent: 20px;">
			        {{ title_block_01 }}
				</h1>
			</div>
		{% endblock %}
		
		{% block txtbl_01 %}
			<div style="margin-left: 10px">	
				{% for e in html %}
					<h2 align="center">
						{{ e.sub_title }}
					</h2>
					
					<div>
						<a href="#{{ e.image }}">
							<img src="{% static e.image %}" width="250" height="200px" align="left" hspace="15" alt="img">
						</a>
							<div id="{{ e.image }}" class="win">
							<a href="#close" class="close">x</a>
								<iframe width="980" height="800" src="{% static e.image %}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
								</iframe>
							</div>
						{% if e.image_2 %}
						<a href="#{{ e.image_2 }}">
							<img src="{% static e.image_2 %}" width="250" height="200px" align="left" hspace="15" alt="img">
						</a>
							<div id="{{ e.image_2 }}" class="win">
							<a href="#close" class="close">x</a>
								<iframe width="980" height="800" src="{% static e.image_2 %}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
								</iframe>
							</div>
						{% endif %}
						{% if e.image_3 %}
						<a href="#{{ e.image_3 }}">
							<img src="{% static e.image_3 %}" width="250" height="200px" align="left" hspace="15" alt="img">
						</a>
							<div id="{{ e.image_3 }}" class="win">
							<a href="#close" class="close">x</a>
								<iframe width="980" height="800" src="{% static e.image_3 %}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
								</iframe>
							</div>
						{% endif %}						
					</div>

						{% block horizont_line_in_text0 %}
       				 <table width="1000px" height="1px">
						<tr>
							<td width="100%"></td></tr></table>
						{% endblock %} 
					
						<p class="context">
							{% if e.text %}
								{{ e.text }}
								<br>
								<br>
							{% endif %}
														
							{% if e.text_1 %}
								{{ e.text_1 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_2 %}
								{{ e.text_2 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_3 %}
								{{ e.text_3 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_4 %}
								{{ e.text_4 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_5 %}
								{{ e.text_5 }}
								<br>
								<br>
							{% endif %}
							
							{% if e.text_6 %}
								{{ e.text_6 }}
								<br>
								<br>
							{% endif %}
															
		                		</p>
					{% block horizont_line_in_text %}
       				 <table width="1000px" height="2px">
						<tr>
							<td width="100%"><left><font color="white"></font></left></td></tr></table>
					{% endblock %} 
				{% endfor %}	
			</div>
       {% endblock %}
	
	{% endblock %}
    {% block horizont_line_02 %}
        <table width="1000px" height="2px">
			<tr>
				<td width="100%"><left><font color="white"></font></left></td></tr></table>
    {% endblock %}

{% endblock %}
