{% block tabl_01 %}
	
     <table width="500px" height="40px" cellpadding="5" cellspacing="2">
			<i><caption><b>Основные технические характеристики</b></caption>
			<tr height="25%" bgcolor="#9a9a9a">
				<th width="70%">
					<i>Параметр</i>
				</th>
				<th width="30%">
					<i>Значение</i>
				</th>
			</tr>
			{% for key, value in tb.items %}
			<tr height="25%" bgcolor="#d1d1d1">
				<td><i>
					{{ key }}
				</i></td>
				<td align="center">
					{{ value }}
				</td>
			</tr>
			{% endfor %}
	
			</i>	
		</table>
	
    
	
{% endblock %}
